.container {
  margin: auto;
  width: 50rem;
  padding: 2rem;
  box-shadow: 1px 8px 24px #000000;
  background-color: rgba(0,0,0,.8);
  border-radius: .5rem;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 1.5rem;
  border: none;
  border-radius: .5rem;
  font-family: 'Fredoka', sans-serif;
  width: 80%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  outline: none;
}

button {
  padding: 1rem;
  font-family: 'Fredoka', sans-serif;
  background-color: chartreuse;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  width: 50%;
  padding: 1.2rem;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  transition: background-color .2s;
}

button:hover {
  background-color: rgb(109, 209, 8);
}